* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
}

header {
    overflow: hidden;
    height: 100vh;
    position: relative;
}

.vid-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
}

.left-dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    pointer-events: none;
    z-index: -1;
}

.topright {
    position: absolute;
    top: 5px;
    right: 20px;
    z-index: 10;
}

.logo {
    width: 150px;
    height: auto;
    border-radius: 8px;
}

.card-box {
    background: rgba(40, 8, 60, 0.6);
    border-radius: 24px;
    padding: 40px 30px;
    box-shadow: 0 8px 32px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: inline-block;
    width: 90%;
    max-width: 420px;
    -webkit-backdrop-filter: blur(15px);
}

.card-box:hover {
    box-shadow: 0 12px 40px rgb(255, 255, 255);
}

.center-logo {
    width: 500px;
    max-width: 100%;
    margin: 0 auto 20px;
    display: block;
}

header .content {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content h1 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 50px;
    font-family: "Prompt", serif;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-shadow: 0 2px 10px rgba(255, 255, 255, 0.3);
}

.btn {
    background: linear-gradient(to right, #ff9800, #ff9800);
    font-family: "Prompt", serif;
    border: none;
    color: #fff;
    padding: 12px 36px;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 40px;
    cursor: pointer;
    font-weight: 500;
    box-shadow: 0 0 10px rgba(255, 152, 0, 0.5);
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff9800;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
    border-radius: 25px;
}

.btn:hover::before {
    transform: scaleX(1);
}

.btn:hover {
    color: #000;
    transform: scale(1.05);
    box-shadow: 0 0 10px #fff, 0 0 20px #fff;
}


/* Responsive */

@media (max-width: 767px) {
    .logo {
        margin: 5px auto;
        display: block;
        height: 45px;
    }
    .content h1 {
        font-size: 30px;
        margin-bottom: 18px;
        -webkit-text-stroke: 1px #fff;
    }
}